RewriteEngine On

RewriteRule ^(css|script|img)($|/) - [L]
RewriteCond %{REQUEST_URI} !getMascotas.php$
RewriteRule ^(.*)$ index.php [L]

RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]