RewriteEngine On

#No reescribimos index.php si estamos en la carpeta test
RewriteRule ^(test)($|/) - [L]
RewriteRule (.) index.php
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule . - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]